/* GERAL */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 16px;
  background-color: rgb(172, 12, 221);
  padding: 20px;
}

.wrapper {
  padding: 20px;
  background-color: #1e013242;
}

.transacao {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.transacao__form {
  display: flex;
  justify-content: space-between;
}

.transacao__title {
  color: #ffffff;
}

.transacao__form-group {
  position: relative;
  width: 100%;
}

.transacao__label {
  display: block;
  color: #000000;
}

.transacao__input {
  width: 90%;
  border-radius: 2px;
  border: 1px solid #ecddf3;
  height: 40px;
  padding: 10px;
  font-size: 14px;
}

.transacao__button {
  background-color: #a414ea;
  color: #ffffff;
  border-radius: 10px;
  width: 90%;
  font-weight: bold;
  font-size: 16px;
  transition: 0.3s;
  cursor: pointer;
  margin-top: 21px;
  height: 40px;
}

.transacao__button:hover {
  background-color: #7f29aa;
  color: #140a1a;
  transition: 0.3s;
}

.extrato__table {
  width: 100%;
  text-align: left;
}

.extrato__header span + span {
  border-left: 1px solid #ecddf3;
  padding: 10px;
}

.extrato__header span + span {
  border-left: 1px solid #ecddf3;
  padding: 10px;
}

.extrato div:last-of-type span + span {
  border-left: 1px solid #ecddf3;
  padding: 10px;
}
