* {
  margin: 0;
  padding: 0;
  font-family: 'montserrat', sans-serif;
  box-sizing: border-box;
}

body {
  background-image: url('../img/study.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.container {
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}

input {
  width: 100%;
  border: none;
  border-bottom: 3px solid #000;
  background: none;
  padding: 10px;
  outline: none;
  font-size: 18px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 1.2rem;
}

h3 {
  margin: 10px 0;
}

input {
  margin-bottom: 20px;
}

#button {
  background-color: royalblue;
  border: none;
  padding: 15px;
  color: aliceblue;
  font-size: 20px;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 2px;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 20px;
  line-height: 25px;
  text-align: center;
}

.media-titulo {
  margin-top: 15px;
}

.aprovacao {
  background-color: green;
  padding: 20px;
  border-radius: 10px;
  color: whitesmoke;
  text-align: center;
  
}

.reprovacao {
  background-color: red;
  padding: 20px;
  border-radius: 10px;
  color: whitesmoke;
  text-align: center;
  
}

.mensagem-de-erro {
  color: red;
}
